doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body


    //- JS scripts
    //- ===================================
    script(async, src='assets/js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.css')


