// Colors
$white: #fff
$black: #000

$main-orange: #EB5B2E
$hover-orange: #FF8E67

$main-gray: #4A4A4A


$background-filtre: rgba(235, 91, 46, .8)

//{Other colors}
  
// Typography
$roboto: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'Ubuntu', sans-serif
