* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #060709 url("../img/background-sp.jpg") no-repeat top center;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  background: transparent url("../img/banner-background.jpg") no-repeat 50% 50%;
  padding: 100px 5px;
  text-align: center;
  color: #9d9d9d;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 700;

  img {
    display: block;
    margin: 0 auto;
  }
}

.highlight-text {
  display: block;
  font-size: 30px;
}

.button {
  display: inline-block;
  border: 0;
  text-indent: -999px;
  overflow: hidden;

  &--scroll-down {
    width: 98px;
    height: 90px;
    background: transparent url("../img/icon-arrow-down.png") no-repeat top center;
  }
}

h2 {
  color: #9d9d9d;
}

.participants {
  margin: 40px auto;
  background-color: #060709;
  padding: 30px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .event {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    a {
      color: #9d9d9d;
      text-decoration: none;

      &:hover {
      text-decoration: underline;
      }
    }

    img {
      display: block;
      margin: 0 auto 15px auto;
    }

    &--on-white {
      img {
        background-color: #fff;
      }
    }

    &--on-black {
      img {
        background-color: #000;
      }
    }
  }
}

.subscribe {
  display: block;
  margin: 40px auto;
  padding: 20px;
  background-color: #111;

  .highlight-text {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
}

.subscribe-form {
  position: relative;
  display: table;
  background: #171717;
  border-radius: 5px;
  color: #85ca91;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  margin: 0 auto 50px;

  input {
    display: table-cell;
    background: transparent;
    border: none;
    box-shadow: none;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    color: inherit;
    width: 70%;
    float: left;
  }

  button {
    float: right;
    display: table-cell;
    background: #303030;
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    color: inherit;
    font-size: 20px;
    border-radius: inherit;
  }

  .submit-msg {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;

    &.error {
      color: red;
    }

    &.valid {
      color: error;
    }
  }

  &__label {
    color: #85ca91;
    text-align: center;
    font-size: 23px;
    margin: 30px 0 20px;
  }
}

.container {
  width: 100%;

  @media screen and (min-width: 400px) {
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 960px) {
    width: 960px;
  }
}
